In [18]:
#1. Create a dictionary of employee names and salaries.

emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}
print(emp)

{'Tanaji': 75000, 'Rahul': 45000, 'Sneha': 43000, 'Sidhu': 87000}

In [27]:
# 2. Access salary of employee "Rahul".
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

print(emp["Rahul"])
print(emp.get("Tavnaji"))

45000
None

In [35]:
# 3️⃣ Add a new employee "Anita": 50000
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

emp["Anita"]= 50000
print(emp)

{'Tanaji': 75000, 'Rahul': 45000, 'Sneha': 43000, 'Sidhu': 87000, 'Anita': 50000}

In [36]:
#4️⃣ Update salary of "Rahul" to 60000
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

emp["Rahul"]= 60000
print(emp)

{'Tanaji': 75000, 'Rahul': 60000, 'Sneha': 43000, 'Sidhu': 87000}

In [39]:
# 5️⃣ Remove an employee

emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

emp.pop("Sneha")
print(emp)

del emp["Rahul"]
print(emp)

{'Tanaji': 75000, 'Rahul': 45000, 'Sidhu': 87000}
{'Tanaji': 75000, 'Sidhu': 87000}

In [43]:
#6️⃣ Print all employee names
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

print(emp.keys())
print(list(emp.keys()))
print(emp.values())

dict_keys(['Tanaji', 'Rahul', 'Sneha', 'Sidhu'])
['Tanaji', 'Rahul', 'Sneha', 'Sidhu']
dict_values([75000, 45000, 43000, 87000])

In [46]:
# 7️⃣ Print all salaries

emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

print("All salaries : ", list(emp.values()))

All salaries :  [75000, 45000, 43000, 87000]

In [61]:
# 8️⃣ Find employee with highest salary
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

print("Higest Salary employee is", max(emp.keys()) ," and salary is ", max(emp.values()))

high_sal = max(emp, key= emp.get)
print(high_sal)
print(emp[high_sal])

Higest Salary employee is Tanaji  and salary is  87000
Sidhu
87000