In [ ]:
#1. Create a dictionary of employee names and salaries.

emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}
print(emp)

{'Tanaji': 75000, 'Rahul': 45000, 'Sneha': 43000, 'Sidhu': 87000}

In [27]:
# 2. Access salary of employee "Rahul".
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

print(emp["Rahul"])
print(emp.get("Tavnaji"))

45000
None

In [35]:
# 3Ô∏è‚É£ Add a new employee "Anita": 50000
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

emp["Anita"]= 50000
print(emp)

{'Tanaji': 75000, 'Rahul': 45000, 'Sneha': 43000, 'Sidhu': 87000, 'Anita': 50000}

In [36]:
#4Ô∏è‚É£ Update salary of "Rahul" to 60000
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

emp["Rahul"]= 60000
print(emp)

{'Tanaji': 75000, 'Rahul': 60000, 'Sneha': 43000, 'Sidhu': 87000}

In [39]:
# 5Ô∏è‚É£ Remove an employee

emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

emp.pop("Sneha")
print(emp)

del emp["Rahul"]
print(emp)

{'Tanaji': 75000, 'Rahul': 45000, 'Sidhu': 87000}
{'Tanaji': 75000, 'Sidhu': 87000}

In [43]:
#6Ô∏è‚É£ Print all employee names
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

print(emp.keys())
print(list(emp.keys()))
print(emp.values())

dict_keys(['Tanaji', 'Rahul', 'Sneha', 'Sidhu'])
['Tanaji', 'Rahul', 'Sneha', 'Sidhu']
dict_values([75000, 45000, 43000, 87000])

In [46]:
# 7Ô∏è‚É£ Print all salaries

emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

print("All salaries : ", list(emp.values()))

All salaries :  [75000, 45000, 43000, 87000]

In [64]:
# 8Ô∏è‚É£ Find employee with highest salary
emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

print("Higest Salary employee is", max(emp.keys()) ," and salary is ", max(emp.values()))

high_sal = max(emp, key= emp.get)
print(high_sal)
print(emp[high_sal])

Higest Salary employee is Tanaji  and salary is  87000
Sidhu
87000

In [68]:
#9Ô∏è‚É£ Check if "Amit" exists in dictionary

emp= {
    "Tanaji": 75000,
    "Rahul": 45000,
    "Sneha": 43000,
    "Sidhu": 87000
}

if "Amit" in emp:
    print("yes")
else: 
    print("No")

No

In [82]:
# üîü Convert dictionary keys into a list
employees = {
    "Rahul": 50000,
    "Amit": 45000,
    "Priya": 60000,
    "Sneha": 55000
}

employee_list =  (employees.keys())
print(employee_list)

dict_keys(['Rahul', 'Amit', 'Priya', 'Sneha'])

In [124]:
# 1Ô∏è‚É£ Frequency Count (Very Important)

cities = ["Pune", "Mumbai", "Pune", "Delhi", "Mumbai", "Pune"]

city_count = {}

for city in cities:
    if city in city_count:
        print(city_count)
        city_count[city] += 1
    else: 
        city_count[city] = 1

print(city_count)

{'Pune': 1, 'Mumbai': 1}
{'Pune': 2, 'Mumbai': 1, 'Delhi': 1}
{'Pune': 2, 'Mumbai': 2, 'Delhi': 1}
{'Pune': 3, 'Mumbai': 2, 'Delhi': 1}

In [128]:
cities = ["Pune", "Mumbai", "Pune", "Delhi", "Mumbai", "Pune", "Solapur", "Pune", "Solapur"]

city_count = {}

for city in cities:
    if city in city_count:
        city_count[city] += 1
    else:
        city_count[city] = 1

print(city_count)

{'Pune': 4, 'Mumbai': 2, 'Delhi': 1, 'Solapur': 2}

In [130]:
# Highest Sales Month

sales = {
    "Jan": 50000,
    "Feb": 65000,
    "Mar": 48000,
    "Apr": 70000
}

higest_sales = max(sales, key =sales.get)
print(higest_sales, sales[higest_sales])

Apr 70000

In [133]:
# 3Ô∏è‚É£ Total Annual Sales
sales = {
    "Jan": 50000,
    "Feb": 65000,
    "Mar": 48000,
    "Apr": 70000
}

total_sales= sum(sales.values())
print(total_sales)

233000

In [138]:
# 4Ô∏è‚É£ Sort Dictionary by Values (Descending)

sales = {
    "Jan": 50000,
    "Feb": 65000,
    "Mar": 48000,
    "Apr": 70000
}

sorted_sales = dict(sorted(sales.items(), key= lambda x:x[1], reverse = True))
print(sorted_sales)

{'Apr': 70000, 'Feb': 65000, 'Jan': 50000, 'Mar': 48000}

In [ ]:
#5Ô∏è‚É£ Merge Two Dictionaries (Add Duplicate Values)

dept1 = {"HR": 5, "IT": 10}
dept2 = {"Fianance": 4, "IT": 3}

merged = dept1.copy()

for key, value in dept2.items():
    if key in merged:
        merged[key] += value
    else:
        merged[key] = value

print(merged)

{'HR': 5, 'IT': 13, 'Fianance': 4}

In [148]:
# 6Ô∏è‚É£ Nested Dictionary Access 

employees = {
    "E1": {"name": "Rahul", 
        "salary": 50000},
    "E2": 
    {"name": "Amit", 
        "salary": 60000}
}

print(employees["E2"]["salary"])

60000

In [149]:
# 7Ô∏è‚É£ Dictionary Comprehension 

square = {num : num ** 2 for num in range(1,6)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [162]:
# 8Ô∏è‚É£ Remove Students with Marks < 50
marks = {"Rahul": 33, "Amit": 78, "Priya": 44, "Sneha": 30 }

filtered_marks = {name: score for name, score in marks.items() if score>=50}

print(filtered_marks)

{'Amit': 78}

In [ ]:
# 9Ô∏è‚É£ Invert Dictionary

data = {"a": 1, "b" : 2, "c": 3 }

inverted = {value: key for key, value in data.items()}

print(inverted)

{'a': 1, 'b': 2, 'c': 3}