In [7]:
#Given a list of daily sales: sales = [1200, 1500, 1100, 1800, 1700, 1600]
# Find total revenue."""

sales = [1200, 1500, 1100, 1800, 1700, 1600]

total_revenue= sum(sales)
print("Total_revenue", total_revenue)

Total_revenue 8900

In [ ]:
# Q2. From the same list, find the highest and lowest sales.

sales = [1200, 1500, 1100, 1800, 1700, 1600]

highest_no = max(sales)
print("Higehst No is", highest_no)

Higehst No is 1800

In [8]:
# 3. Remove all sales less than 1300.

sales = [1200, 1500, 1100, 1800, 1700, 1600]

filtered_sales = [sale for sale in sales if sale >= 1300]
print(filtered_sales)

[1500, 1800, 1700, 1600]

In [19]:
#Q4. Add a new sale value 2000 at the end.

sales = [1200, 1500, 1100, 1800, 1700, 1600]
print(sales)

sales.append(2000)

print(sales)

sales.insert(2,1)
print(sales)

count_1100 = sales.count(1100)
print(count_1100)

[1200, 1500, 1100, 1800, 1700, 1600]
[1200, 1500, 1100, 1800, 1700, 1600, 2000]
[1200, 1500, 1, 1100, 1800, 1700, 1600, 2000]
1

In [20]:
# Q5. Insert 1400 at index position 2.
sales = [1200, 1500, 1100, 1800, 1700, 1600]

sales.insert(2,1400)
print(sales)

[1200, 1500, 1400, 1100, 1800, 1700, 1600]

In [22]:
# Q6. Count how many times 1500 appears in:
# [1500, 1200, 1500, 1800, 1500]


sales = [1200, 1500, 1500, 1800, 1700, 1600]

count_1500 = sales.count(1500)
print(count_1500)

2

In [24]:
# Q7. Reverse the list without using reverse().

sales = [1200, 1500, 1100, 1800, 1700, 1600]

reversed_list = sales[::-1]
print(reversed_list)

sales.reverse()
print(sales)

[1600, 1700, 1800, 1100, 1500, 1200]
[1600, 1700, 1800, 1100, 1500, 1200]

In [28]:
# Q8. Create a new list where each value is increased by 10%.

sales = [1200, 1500, 1100, 1800, 1700, 1600]

incresed_list = [sale * 1.10 for sale in sales]
print(incresed_list)

[1320.0, 1650.0000000000002, 1210.0, 1980.0000000000002, 1870.0000000000002, 1760.0000000000002]

In [29]:
# Q9. Given two lists:
# Combine them into one list.

region1 = [100, 200, 300]
region2 = [400, 500, 600]

newlist = region1 + region2
print(newlist)

[100, 200, 300, 400, 500, 600]

In [ ]:
# Q10. Find the average sales from the list.

sales = [1200, 1500, 1100, 1800, 1700, 1600]

average =  sum(sales) / len(sales)
print(average)

1483.3333333333333