In [3]:
x = 3
y = 2

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

5
1
6
1.5
1
9
1

In [9]:
# Python 3.8 introduced the := operator, known as the "walrus operator". It assigns values to variables as part of a larger expression:


numbers = [1, 2, 3, 4, 5]

if (count := len(numbers)) > 3:
    print(f"List has {count} elements")

List has 5 elements

In [10]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [11]:
x = 5

print(1 < x < 10)

print(1 < x and x < 10)

True
True

In [17]:
x = 5

print(x < 5 or x > 10)

False

In [25]:
a = ['apple', 'banana', 'cherry']
b = ['apple', 'banana', 'cherry']
c =b

print(a is c)
print(a is b)
print(a == b)
print(b is  c)

False
False
True
True

In [30]:
x = [1, 2, 3]
y = [1, 2, 3]

d = x
print(x == d)
print(x is d)

True
True

In [33]:
fruits = ["apple", "banana", "cherry"]

print("bananaa" not in fruits)

True

In [35]:
text = "Hello World"

print("H" in text)
print("Hello" in text)
print("z" not in text)

True
True
True

In [36]:
print(6 & 3)

2

0
25
45
5