In [1]:
# 1.Find common customers. 

customers_day1 = {"A", "B", "C", "D"}
customers_day2 = {"C", "D", "E", "F"}

print(customers_day1.intersection(customers_day2))
print(customers_day1 & customers_day2)

{'C', 'D'}
{'C', 'D'}

In [3]:
# 2. Find customers who visited only on day1.

customers_day1 = {"A", "B", "C", "D"}
customers_day2 = {"C", "D", "E", "F"}
print(customers_day1.difference(customers_day2))
print(customers_day1 - customers_day2)

{'B', 'A'}
{'B', 'A'}

In [6]:
# 3. Add a new customer "G".
customers = {"A", "B", "C", "D"}
customers.add("G")
print(customers)
customers.update("TM")
print(customers)

{'B', 'G', 'D', 'C', 'A'}
{'B', 'G', 'D', 'C', 'A', 'M', 'T'}

In [9]:
# 4. Remove customer "B".
customers = {"A", "B", "C", "D"}
customers.remove("B") # remove() gives error if value not found.
print(customers)
customers.discard("T") # If value may not exist â†’ use discard() instead.
print(customers)

{'C', 'D', 'A'}
{'C', 'D', 'A'}

In [11]:
# 5. Find total unique customers from both days.

days1 = {"Tanaji", "More", "Sidhu"}
days2 = {"sidhu", "Tanaji", "Sidhu", "Tana"}

print(days1.union(days2))
print(days1 | days2)

{'Tanaji', 'More', 'Sidhu', 'sidhu', 'Tana'}
{'Tanaji', 'More', 'Sidhu', 'sidhu', 'Tana'}

In [37]:
# 6.Check if "A" exists in the set.

cust = {"A", "B", "C", "D"}
if "A" in cust:
    print("Yes, present")
else: 
    print("Not")

Yes, present

In [12]:
# 7. Convert a list with duplicates into unique values.
# if the list is there then coreect me
list1 =[1,2,3,4,5,6,6,7,7]
unique_values = set(list1)
print(unique_values)

{1, 2, 3, 4, 5, 6, 7}

In [44]:
# 8. Perform union of two sets.

cust1 = {"Tanaji", "More", "Sidhu"}
cust2 = {"sidhu", "Tanaji", "Sidhu", "Tana"}

print(cust1.union(cust2))

{'Sidhu', 'More', 'Tanaji', 'Tana', 'sidhu'}

In [46]:
# 9. Perform difference of two sets.

cust1 = {"Tanaji", "More", "Sidhu"}
cust2 = {"sidhu", "Tanaji", "Sidhu", "Tana"}
print(cust1.difference(cust2))
print(cust1.symmetric_difference(cust2))

{'More'}
{'Tana', 'More', 'sidhu'}

In [47]:
# Create a set from this list:

my= ["HR", "IT", "IT", "Finance", "HR"]

print(set(my))

{'IT', 'HR', 'Finance'}