In [3]:
thistuple = ('apple', 'banana', 'cherry')
print(thistuple)
print(len(thistuple ))

('apple', 'banana', 'cherry')
3

In [7]:
thistuple=("Tanaji", "Sambhaji", "Shivaji", "Rajaram")
print(thistuple)
print(len(thistuple ))
print(type(thistuple))

('Tanaji', 'Sambhaji', 'Shivaji', 'Rajaram')
4
<class 'tuple'>

In [9]:
a = tuple(('hello', 'world', 'python'))
print(a)
print(type(a))

('hello', 'world', 'python')
<class 'tuple'>

('apple', 'banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango')
('cherry', 'anar')
('banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango')
('graphes', 'kiwi')

In [ ]:
a = ('apple', 'banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango')

if "Apple" in a :
    print("Yes, 'apple' is in the fruits tuple")
else:   
    print("No, 'Apple' is not in the fruits tuple")

No, 'Apple' is not in the fruits tuple

In [21]:
a = ('apple', 'banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango')
b = list(a)
print(a)
print(b)
print(type(a))
print(type(b))

b[1] = 'orange'
a = tuple(a)
print(a)

('apple', 'banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango')
['apple', 'banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango']
<class 'tuple'>
<class 'list'>
('apple', 'banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango')

In [31]:
a = (1,2,3,4,4,6,7)



print(a)

b = list(a)
print(b)
b[4]= 5
b.append(8)
print(b)
a = tuple(b)
print(a)

(1, 2, 3, 4, 4, 6, 7)
[1, 2, 3, 4, 4, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
(1, 2, 3, 4, 5, 6, 7, 8)

In [32]:
a = ('apple', 'banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango')
b = ('grapes', 'papaya', 'guava')

a = a+b
print(a)

('apple', 'banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango', 'grapes', 'papaya', 'guava')

In [33]:
a = ('apple', 'banana', 'cherry', 'anar', 'graphes', 'kiwi', 'mango')
b = ('grapes', 'papaya', 'guava')

a = list(a)
a.remove('banana')
a = tuple(a)
print(a)

('apple', 'cherry', 'anar', 'graphes', 'kiwi', 'mango')

In [34]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
a = (1,2,3,4,5,6,7,8)
x,y,*z,w = a
print(x)
print(y)            
print(z)
print(w)

1
2
[3, 4, 5, 6, 7]
8

In [40]:
fruits = ("apple", "banana", "cherry")

for i in fruits:
    print(i)

apple
banana
cherry

In [41]:
fruits = ("apple", "banana", "cherry")

for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

In [44]:
fruits = ("apple", "banana", "cherry")
i = 0

while i<len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry

In [45]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [46]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')