In [ ]:
# 1.Create a tuple of 5 product prices.

product = ("Samsung", "Pixel", "iPhone", "MI")
print(type(product))

<class 'tuple'>

In [9]:
# 2. Find the maximum value in a tuple.

salary = (1000000, 450000, 33000, 50000, 14000)
max_no = max(salary)
print(max_no)

1000000

In [ ]:
# 3 Convert a tuple into a list.

mytuple = ("Tanaji", "More", "Pune")

mylist= list(mytuple)
print(mytuple)
print(mylist)

('Tanaji', 'More', 'Pune')
['Tanaji', 'More', 'Pune']

In [ ]:
# 4. Count how many times 500 appears in:

my = (500, 300, 500, 200, 500)

count_500 = my.count(500)
print(count_500)

3

In [47]:
# 5. Access the 3rd element of a tuple.

my = (500, 300, 500, 200, 500)

print(my[2])

500

In [48]:
# 6. Slice the first 4 elements from a tuple.
my = (500, 300, 500, 200, 500, 600, 700, 800)

print(my[0:4])

(500, 300, 500, 200)

In [21]:
# 7. Combine two tuples.
my1 = (500, 300, 500, 200)
my2 = (900, 600, 700, 800)

print(my1+ my2)

(500, 300, 500, 200, 900, 600, 700, 800)

In [41]:
# 8. Check if 700 exists in a tuple.

mytuple = (500, 300, 500, 200, 500, 600, 700, 800)

if mytuple == 500:
    print("yes")

for x in mytuple:
    if x==700:
        print("700 exists")

700 exists

In [45]:
# 9. Get index of 300 in a tuple.
mytuple = (500, 400, 500, 300, 500, 600, 700, 800)

print(mytuple.index(300))

3

In [46]:
# 10. Convert a list [10, 20, 30] into a tuple.

mylist = [10, 20, 30]
mytuple = tuple(mylist)
print(mytuple)

(10, 20, 30)